body {
  font-family: Helvetica;
  padding: 2em;
  background-color: #333333;
}

.title {
	color: #fff;
	font-size: 200%;
	background-color: #ce422b;
	padding: 2px;
	border-radius: 20px;
	width: 500px;
	height: 200;
	text-align: center;
	border: 1px solid #ccc;   
}

div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ce422b;
}

div.tab a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

div.tab a:hover {
    background-color: #a83524;
    border-radius: 10px;
}

div.tab a:focus, .active {
    background-color: #a83524;
    border-radius: 10px;
}

.tabcontent {
    display: none;
    color: white;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #666666;
    border-radius: 20px;
}

span.closebutton {
    float: right;
    cursor: pointer;
    font-size: 20px;
}

span.closebutton a:hover {
	float: right;
    cursor: pointer;
    font-size: 20px;
	color: #ce422b;
}

.link {
	text-decoration: none;
	font-weight: bold;
	font-style: oblique;
	color: white;
}

.textbody {
	background-color: #666666;
	color: #fff;
	font-size: 150%;
	padding: 20px;
	border-radius: 10px;
	height: 150px;
	width: 1000px;
	margin: auto;
	border: 1px solid #ccc;
}

.rustbutton {
	background-color: #ce422b;
	color: #fff;
	margin: auto;
	font-size: 180%;
	width: 180px;
	border-radius: 10px;
	border: 1px solid #ccc;
}

.helibutton {
	background-color: #ce422b;
	color: #fff;
	margin: auto;
	font-size: 180%;
	width: 180px;
	border-radius: 10px;
	border: 1px solid #ccc;
	text-align: center;
}

.active {
    background-color: #a83524;
	color: #fff;
	margin: auto;
	font-size: 180%;
	width: 180px;
	border-radius: 10px;
	border: 1px solid #ccc;
}

.ruststats {
	background-color: #666666;
	color: #fff;
	font-size: 150%;
	padding: 20px;
	border-radius: 10px;
	height: 150px;
	width: 1000px;
	margin: auto;
	border: 1px solid #ccc;
}

.helitext {
	color: white;
	display: none;
}
	

